
$fontSizePrimary: .16rem;
$fontSizeXSmall: .12rem;
$fontSizeSmall: .14rem;
$fontSizeLarge: .18rem;
$fontSizeXLarge: .20rem;
//colors
$body-bgc: #f0f0f0;
$header-bgc: #29bde0;
$main-bgc: #fff;
$c-white: #fff;
$c-gray: #9a9a9a;
$c-gold: #fbb435;