body, ul, p, h4 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.contact-information, .nav-content, .footer-content {
  width: 90%;
  margin: auto; }

.contact-information {
  font-size: 0;
  height: 35px; }

.hot-line {
  font-size: 14px;
  color: #29b078; }

.contact-information, .list {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .contact-information li, .list li {
    padding-left: 10px; }

.abc {
  display: none; }

.bcd {
  display: none; }

#checkbox:checked + .bcd {
  display: block;
  transition: opacity 3s; }

.nav, .footer {
  background: #29b078; }

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.menu {
  width: 30px;
  height: 15px;
  margin: 30px 0;
  border-bottom: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
  cursor: pointer;
  position: relative; }

.underline {
  border-bottom: 1px solid #29b078; }

.ss {
  border-top: 1px solid #cccccc; }

.nav ul li {
  text-align: center; }
  .nav ul li a {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 0; }
    .nav ul li a:hover {
      color: black;
      border-bottom: 1px solid #ffffff; }

.menu::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 3px;
  background: #ffffff;
  vertical-align: 8px; }

.nav-2 {
  display: none;
  background: #29b078;
  height: 90px; }

.nav-content {
  height: 100%; }

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.li-item {
  padding: 0 10px 32px 10px;
  color: #ffffff;
  font-size: 16px;
  border-bottom: 2px solid #29b078; }
  .li-item:hover {
    color: black;
    border-bottom: 2px solid #ffffff; }

@media screen and (min-width: 768px) {
  .nav {
    display: none; }

  .nav-2 {
    display: block; } }
.footer-content {
  display: flex;
  justify-content: space-between;
  height: 120px;
  padding: 15px 0; }

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  section .ww {
    max-width: 92px; }

.link {
  font-size: 14px;
  color: #ffffff;
  margin: 5px 5px 0 0;
  padding-bottom: 5px; }
  .link:hover {
    border-bottom: 1px solid #ffffff; }

.border-line {
  margin: 5px;
  position: relative; }
  .border-line:before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 18px;
    background: #ffffff;
    position: absolute;
    left: -5px; }

.border-line2 {
  margin: 5px;
  position: relative; }
  .border-line2:before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 18px;
    background: #ffffff;
    position: absolute;
    left: -5px; }

.footer {
  font-size: 0; }
  .footer h4 {
    font-size: 16px;
    color: #ffffff; }

.copyright {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  padding: 5px 0;
  border-top: 1px solid #ffffff; }
  .copyright span {
    display: inline-block;
    text-align: left;
    -ms-word-wrap: break-word;
    word-break: break-all; }

@media screen and (max-width: 768px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
    padding: 15px 0; }
    .footer-content h4 {
      padding: 10px 0; }
    .footer-content p {
      padding: 10px 0; }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between; } }
.zz {
  border-bottom: 1px solid #ffffff; }

.li-item-2 {
  border-bottom: 2px solid #ffffff; }

.main {
  width: 100%;
  background: #fafafa;
  padding-bottom: 80px; }

.title {
  width: 90%;
  margin: auto;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #cccccc; }
  .title h4 span {
    color: #29b078; }
    .title h4 span a {
      color: black; }

.main-nav {
  width: 90%;
  height: 70px;
  margin: auto;
  border-bottom: 1px solid #cccccc; }
  .main-nav ul {
    display: flex;
    height: 100%;
    align-items: center !important;
    flex-wrap: wrap; }
    .main-nav ul .main-nav-item {
      margin-right: 15px;
      font-size: 16px;
      color: #cccccc; }

.main-nav-item a {
  color: black; }
  .main-nav-item a:hover {
    color: #ffffff;
    background: #29b078; }

.column {
  width: 90%;
  margin: auto; }
  .column .h4 {
    line-height: 70px;
    border-bottom: 1px solid #cccccc; }

.wrap-item ul {
  background: #ffffff;
  box-shadow: 0 0 3px #cccccc; }

.tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid #eeeded; }
  .tr img {
    max-width: 139px; }

.tr-txt {
  width: 50%;
  padding-left: 10px; }
  .tr-txt h4 {
    font-size: 18px;
    margin: 10px 0; }
  .tr-txt p {
    word-break: break-all;
    font-size: 14px; }

.td-1 {
  display: flex;
  border-bottom: 1px solid #eeeded; }
  .td-1 .side-line {
    border-left: 1px solid #eeeded; }

.td-1-item {
  width: 50%;
  height: 100%;
  padding: 8px 10px; }

.ccc {
  color: #cccccc; }

.red {
  color: red; }

.td-2 {
  display: flex; }
  .td-2 .td-2-item {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eeeded; }
  .td-2 .td-2-txt {
    width: 60%;
    border-left: 1px solid #eeeded; }
    .td-2 .td-2-txt p {
      display: flex;
      justify-content: space-between;
      padding: 8px;
      border-bottom: 1px solid #eeeded; }

.td-3 {
  padding: 8px 10px;
  border-bottom: 1px solid #eeeded; }

.wrap-item {
  margin-top: 40px; }

.wrap-item-list {
  position: relative; }

.box {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  padding: 15%;
  color: #ffffff;
  box-sizing: border-box;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.75); }
  .box h4 {
    padding: 20px;
    text-align: center; }
  .box p {
    text-indent: 2em; }

.wrap-item:hover .box {
  opacity: 1;
  transform: rotate(360deg);
  transition: 0.6s; }

@media screen and (min-width: 768px) {
  .wrap {
    display: flex;
    flex-wrap: wrap; }
    .wrap .wrap-item {
      width: 50%;
      padding: 0 10px;
      box-sizing: border-box; } }
@media screen and (min-width: 1024px) {
  .wrap {
    display: flex;
    flex-wrap: wrap; }
    .wrap .wrap-item {
      width: 33.3%;
      padding: 0 10px;
      box-sizing: border-box; } }

/*# sourceMappingURL=14-2.css.map */
