//globalconfig
@import "stylesheets/config-global";
//module
@import "stylesheets/modules";
//theme
@import "stylesheets/theme";
//state classes
html {
    font-size: 625%;
}

body {
    font-size: $fontSizePrimary;
    background-color: $body-bgc;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .15rem;
    line-height: .5rem;
    font-size: $fontSizeXLarge;
    color: $c-white;
    background-color: $header-bgc;
    .back {
        @include returnArrow;
        padding: 0;
        outline: none;
        cursor: pointer;
    }
    .help {
        padding: 0;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        &:before {
            content: "";
            display: inline-block;
            background: url("../images/circled-help.png") no-repeat;
            background-size: .3rem;
            width: .3rem;
            height: .3rem;
        }
    }
}

.body {
    margin-top: .5rem;
    padding: .15rem;
    .wrap {
        display: flex;
        height: 2.5rem;
    }
    .title {
        font-size: $fontSizeXLarge;
        writing-mode: vertical-lr;
        text-align: center;
        padding: 0 .2rem;
        border-right: .01rem solid #d9d9d9;
        background-color: $c-white;
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        background-color: #fbfbfb;
        .player-match {
            overflow: auto;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: .2rem .1rem;
            .identity {
                width: 50%;
                margin: .05rem 0;
                text-align: center;
                color: #a1a1a1;
            }
            .kill::before {
                display: inline-block;
                content: "";
                width: .1rem;
                height: .1rem;
                margin-right: .05rem;
                background-color: #ff0000;
            }
            .civilian::before {
                display: inline-block;
                content: "";
                width: .1rem;
                height: .1rem;
                margin-right: .05rem;
                background-color: $c-gold;
            }
        }
        .set-btn {
            padding: .1rem 0;
            text-align: center;
            border-top: .01rem solid #d9d9d9;
            font-size: $fontSizeLarge;
            color: #29bde0;
            cursor: pointer;
            user-select: none;
        }
    }
    .key-words {
        margin: .05rem 0;
        padding: 0 .2rem .15rem .2rem;
        background-color: $c-white;
        .words {
            display: block;
            height: .3rem;
            width: 100%;
            padding: .1rem 0;
            border: none;
            border-bottom: .01rem solid #e1e1e1;
            outline: none;
            &::-webkit-input-placeholder {
                font-size: $fontSizeLarge;
                color: #e1e1e1;
            }
        }
    }
    .setting {
        height: 1rem;
        padding: .1rem .2rem;
        background-color: $c-white;
        .player {
            font-size: $fontSizeLarge;
            .player-num {
                width: .35rem;
                height: .25rem;
                margin: 0 .1rem;
                border: none;
                text-align: center;
                color: $c-gold;
                background-color: #f4f5f5;
            }
        }
        .slider {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 .1rem;
            margin: .2rem 0;
            text-align: center;
            .less {
                width: .2rem;
                height: .2rem;
                background-color: transparent;
                border: .01rem solid #d9d9d9;
                background: $c-white url("../images/less.png") no-repeat center/.15rem;
                cursor: pointer;
            }
            .add {
                @extend .less;
                background: $c-white url("../images/add.png") no-repeat center/.15rem;
            }
            .range {
                -webkit-appearance: none;
                width: 80%;
                background: #ffe6be linear-gradient(to right, #fcc671 100%, #ffe6be) no-repeat;
                background-size: 0% 100%;
                cursor: pointer;
                outline: none;
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                }
                &::-webkit-slider-runnable-track {
                    height: .04rem;
                }
                &::-webkit-slider-thumb {
                    width: .4rem;
                    height: .25rem;
                    margin-top: -.105rem;
                    border: .02rem solid $c-gold;
                    border-radius: .05rem;
                    background: $c-white url("../images/thumb.png") no-repeat center;
                }
            }
        }
    }
}

.footer__btn {
    display: block;
    width: 100%;
    line-height: .5rem;
    margin-top: .15rem;
    border: none;
    font-size: $fontSizeXLarge*1.2;
    color: $c-white;
    background-color: $c-gold;
    cursor: pointer;
}