body {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
html {
  font-size: 62.5%;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.5rem;
  background: #5fc0cd;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 7.2rem;
    height: 3.5rem;
    font-size: 1.7rem;
    border: none;
    border-radius: .6rem;
  }
}
.header::after {
  content: "";
  display: inline-block;
  width: 2.1rem;
  height: 2.2rem;
  background: url("img12/1.png") no-repeat;
  position: absolute;
  right: 1rem;
}
.btn-left {
  background: #55a8b3;
  color: white;
}
.btn-right {
  background: #ffffff;
  margin-left: -1rem;
  color: #55a8b3;
}
.main {
  margin-top: 4.5rem;
  margin-bottom: 5.1rem;
}
.main-nav {
  width: 100%;
  height: 4rem;
  border-bottom: .1rem solid #e1e5e7;
  display: flex;
  justify-content: flex-start;
}
.nav-l {
  width: 33.3%;
  height: 100%;
  font-size: 1.4rem;
  position: relative;
}
.nav-btn {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: white;
}
.nav-l:hover .list {
  display: block;
}
.nav-l::after {
  display: inline-block;
  content: "";
  width: .7rem;
  height: .5rem;
  background: url("img12/s.png") no-repeat center;
  position: absolute;
  right: .3rem;
  top: 50%;
  transform: translateY(-50%);
}
.nav-l ul {
  width: 100%;
  text-align: center;
  display: none;
  background: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
  border-top: .01rem solid #e1e5e7;
  box-shadow: 0 0 1rem #e1e5e7;
  z-index: 999;
}
.list-item {
  line-height: 3rem;
}
.list-item:hover {
  background: #cccccc;
}
.main-center {
  padding: 0 2rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: .1rem solid #e1e5e7;
}
.row-1 {
  font-size: 1.3rem;
  color: #cccccc;
}
.row-1::before {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background: url("img12/3.png") no-repeat;
  vertical-align: middle;
  margin-right: .8rem;
}
.row-2 {
  display: flex;
  justify-content: space-between;
  padding-left: 1.9rem;
}
.row-2-l {
  font-size: 1.4rem;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.row-2-r {
  font-size: 1.5rem;
  color: #e63b0e;
  flex: none !important;
}
.row-2-r a {
  display: inline-block;
  width: 1rem;
  height: 1.7rem;
  background: url("img12/6.png") no-repeat;
  vertical-align: middle;
}
.row-3 {
  font-size: 1.3rem;
  color: #cccccc;
}
.row-3::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1.2rem;
  background: url("img12/4.png") no-repeat;
  vertical-align: middle;
  margin-right: .8rem;
}
.footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 5rem;
  background: #f8fafb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}
.footer-l {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #55a8b3;
}
.footer-r{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #cccccc;
}