* {
    margin: 0;
    padding: 0;
}
.header {
    height: 45px;
    background-color: #5fc0cd;
    text-align: center;
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
    width: 100%;
}
.center {
    display: inline-block;
    width: 40%;
    height: 35px;
    border: 0px solid red;
    margin: auto;
    background-color: #55a8b3;
    border-radius: 8px;
    margin-top: 5px;
}
.center-left {
    float: left;
    width: 50%;
    height: 35px;
    border: 0 solid red;
    font-size: 17px;
    color: white;
    text-align: center;
    line-height: 35px;
}
.center-right {
    float: left;
    width: 50%;
    height: 35px;
    border: 0px solid red;
    font-size: 17px;
    color: #5fc0cd;
    text-align: center;
    line-height: 35px;
    background-color: white;
    border-radius: 8px;
}
.right {
    float: right;
    padding: 10px 15px 0 0;
}
.row {
    text-align: center;
    font-size: 14px;
    color: #999999;
    /*border-bottom: 1px solid #cfcfcf;*/
    padding-left:8px;
    padding-right: 5px;
}
.box1::after {
    display: inline-block;
    position: relative;
    top: -16px;
    left: 12px;
    content: "";
    width: 1px;
    height: 30px;
    background: -webkit-linear-gradient(white, #e3e7e8, white);
    background: -moz-linear-gradient(white, #e3e7e8, white);
    background: linear-gradient(white, #e3e7e8, white);
}
.col-xs-7 {
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 39px;
    color:black;
}
.nav-1 {
    padding-top: 45px;
}
.col-xs-4 {
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle;
    text-align: center;
    line-height: 33px;
}
.btn dropdown-toggle {
    padding-left: 0;
    padding-right: 0;
}
.cat {
    border-bottom: 1px solid #cfcfcf;
    font-size: 14px;
    color: #999999;
}
.icon-1 {
    display: inline-block;
    background: url("img6/sp.png") no-repeat;
    width: 28px;
    height: 28px;
    border: 0px solid red;
    transform: scale(.6);
    position: relative;
    top:9px;
}
.cat-1 {
    padding:2px 18px 0px 18px;
}
.icon-2 {
    display: inline-block;
    background: url("img6/sp.png") no-repeat;
    background-position: -41px 0px;
    width: 28px;
    height: 28px;
    border: 0 solid red;
    transform: scale(.6);
    position: relative;
    top:9px;
}
.cat-2 {
    padding: 0 18px 0 45px;
    color: black;
}
.cat-3 {
    padding: 1px 18px 2px 18px;
}
span1{
    /*position: relative;*/
    color: red;
    font-size: 15px;
}
.
.icon-3 {
    display: inline-block;
    background: url("img6/6.png") no-repeat;
    width: 10px;
    height: 17px;
    position: relative;
    top: 10px;
}
/*.after {*/
    /*content: "";*/
    /*display: inline-block;*/
    /*width: 1px;*/
    /*height: 20px;*/
    /*background: -webkit-linear-gradient(#f3f5f6, #e2e6e7, #f3f5f6);*/
    /*background: -moz-linear-gradient(#f3f5f6, #e2e6e7, #f3f5f6);*/
    /*background: linear-gradient(#f3f5f6, #e2e6e7, #f3f5f6);*/
    /**/
/*}*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f8fafb;
    text-align: center;
}
.footer-left {
    float: left;
    width: 33.33%;
    height: 50px;

}
.footer-center {
    float: left;
    width: 33.33%;
    height: 50px;
}
.footer-right {
    float: left;
    width: 33.33%;
    height: 50px;
}

